
model/checkpoint
model/model_180.data-00000-of-00001
model/model_180.index
model/tensorboard/events.out.tfevents.1554097785.MADERIAK
model/model_180.meta
model/tensorborad.bat
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
